/design-pattern/AdapterPattern/vendor
/design-pattern/SpecificatonPattern-Using-TDD/vendor
/design-pattern/SpecificatonPattern-Using-TDD-and-DB-Part-2/vendor
/design-pattern/TemplateMethodPattern/vendor

/solid-principles/single-responsibility/vendor

.idea

